header {
  min-height: 10vh;
  background: #223243;
}

header .header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  color: #e3e3e3;
  font-size: 18px;
  font-weight: bold;
}

.header button {
  padding: 10px 40px;
  background: #00dfc4;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: .5em;
  letter-spacing: 2px;
  transition: 0.8s;
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
  cursor: pointer;
}

.auth-box {
  min-height: 90vh;
  background: #223243;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs {
  padding-top: 10px;
  padding-bottom: 25px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-head {
  padding: 10px 40px;
  background: #223243;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: .5em;
  letter-spacing: 2px;
  transition: 0.8s;
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
  cursor: pointer;
  border: none;
}

.active {
  background: #00dfc4;
}

.container {
  padding: 40px;
  border-radius: 20px;
  border: 8px solid #223243;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.error-text {
  color: #00dfc4;
  margin: 0;
}

.form h2 {
  color: #fff;
  font-weight: 500;
  font-size: 26px;
  letter-spacing: 0.1em;
}

.inputBox {
  position: relative;
  width: 300px;
}

.inputBox input {
  padding: 16px 10px 12px 48px;
  border: none;
  width: 100%;
  background: #223243;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
  font-weight: 300;
  border-radius: 25px;
  font-size: 1em;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
  transition: 0.5s;
  outline: none;
  font-size: 16px;
}

.inputBox ::placeholder {
  color: #ffffff80;
}

.icon {
  position: absolute;
  top: 15px;
  left: 16px;
  width: 25px;
  padding: 2px 0;
  padding-right: 8px;
  color: #00dfc4;
  border-right: 1px solid #00dfc4;
}

.inputBox input[type='submit'],
input[type='button'] {
  background: #00dfc4;
  color: #e3e3e3;
  padding: 10px 0;
  font-weight: 500;
  cursor: pointer;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.form p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 300;
}

.form button {
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background: #223243;
  font-size: 14px;
}

.reset-link {
  cursor: pointer;
}